
   
        <p><picture><a href="/beers/beer{{this.id}}"><img src="{{this.image_url}}" alt="{{this.name}}" /></a></picture></p>
        <p>{{this.name}}</p>
        <p>{{this.description}}</p>
        <p>{{this.tagline}}</p>
   
